<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>sample</title>
  <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <!--contents-->
  <div class="contents">

    <!--details-->
    <div class="details">
      <div class="submit_form">
      <form method="post" action="/" enctype="multipart/form-data">
       <div>
         <input id="username" class="input_form" type="text" name="username" size="110" placeholder="username">
       </div>
       <div>
         <input id="title" class="input_form" type="text" name="title"  size="110" placeholder="title">
       </div>
       <div>
         <textarea id="comment" rows="10" cols="79" name="text" placeholder="comment"></textarea>
         </div>
         <div class="btn_area">
          <div class="file_btn"><input type="file" name="file" value="file"></div>
          <div class="submit_btn"><input type="submit" name="submit" value="投稿"></div>
         </div>
       </form>
       </div>
     </div>
     <!--/details-->

     <!--details-->
     <div class="details">
      <% posts.each do |post| %>
      <div class="post">
       <div class="means">
       <div class="entry_title"><%= escape_html(post["title"]) %></div>
       <div class="entry_username">
          <img src='/images/user.png' alt="user" width="18px"><%= escape_html(post["username"]) %>
       </div>
       <div class="images"><img src="img/<%= post["filename"] %>" alt="<%= escape_html(post["title"]) %>"></div>
       <div class="entry_body"><%= escape_html(post["body"]) %></div>
       </div>
     </div>
     <% end %>
   </div>
   <!--/details-->

 </div>
 <!--/contents-->
</body>
</html>
